@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Taviraj:ital,wght@1,400;1,600&display=swap');
.container{
	font-family: 'Taviraj', serif;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: 5px 5px 5px gray;
	margin-bottom: 20px;
	background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
}
.weather-container{
	margin-bottom: 40px;
}
.btn-light{
	font-size: 24px;
	margin: 0px 0px 30px 0px;
}
.city{
	font-weight: 600;
	font-size: 57px;
	font-family: 'Taviraj', serif;
	color: rgb(216, 216, 237);
	margin-bottom: 20px;
}
#temperature {
	color: rgb(216, 216, 237);
	font-size: 37px;
	font-weight: 600;
}
.temperature-units a {
	text-decoration: none;
	font-size: 20px;

}
.humidity{
	margin: 30px 0px 30px 50px;
	font-size: 26px;
	color: rgb(216, 216, 237);
}
.wind{
	margin-left: 50px;
	font-size: 26px;
	color: rgb(216, 216, 237);
}
h5 {
	font-size: 30px;
	color: rgb(216, 216, 237);
}
.day{
	color: rgb(216, 216, 237);
}
span{
	color: rgb(216, 216, 237);
}
.col{
	margin: 0px 0px 30px 0px;
}
form{
	margin-bottom: 50px;
}
.form-city{
	display: inline-block;
	min-width: 370px;
	min-height: 25px;
	font-size: 20px;
	border: none;
	border: 2px solid rgb(208, 208, 235);
	background: radial-gradient(circle at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}
.form-seach{
	font-family: sans-serif;
	min-height: 25px;
	font-size: 20px;
	min-width: 120px;
	background-color: rgb(214, 214, 243);
	color: white;
	font-weight: 600;
	border-color: rgb(132, 132, 202);
	background: linear-gradient(109.6deg, rgb(120, 143, 251) 11.2%, rgb(133, 235, 255) 91.1%);
}
.form-current{
	font-family: sans-serif;
	min-height: 25px;
	min-width: 120px;
	font-size: 20px;
	background-color: rgb(143, 143, 201);
	color: white;
	font-weight: 600;
	border-color: rgb(112, 112, 192);
	background: radial-gradient(circle at 10% 20%, rgb(99, 202, 236) 0%, rgb(162, 162, 236) 90.2%);
}
.weather-forecast {
	margin-top: 20px;
}
.card-title{
	font-size: 24px;
	margin-bottom: 20px;
	color: rgb(216, 216, 237);
	font-weight: 600;
}
img.card-img {
	max-width: 100px;
}
.card-temperature-max{
	color: rgb(216, 216, 237);
	font-size: 20px;
	font-weight: bold;
}
.card-temperature-min {
	color: rgb(216, 216, 237);
	font-size: 20px;
}
.card{
	text-align: center;
	border: none;
	background: none;
	max-width: 145px;
	align-items: center;
}
.link-progect{
	font-weight: bold;
	text-decoration: none;
	color: rgb(216, 216, 237);
	font-family: sans-serif;
}
.temperature .active{
	color: rgb(216, 216, 237);
	cursor: default;
}
small {
	color: rgb(247, 240, 239);
}